/*
.test-quadon{
    font-family: "quadon",Georgia,serif;
    font-weight: lighter;
}
.not-found{
    font-family: "quadon",Georgia,serif;
    font-weight: bold;
}

.distance-learning-logo-text{
    background: #ffffff;
    color: #005395;
    font-family: serif;
    font-size: 32px;
    position: absolute;
    top: 91px;
    left: 114px;
    padding: 5px;
    min-width: 300px;
}

*/
h1,h2,h3{
    font-family: "quadon",Georgia,serif;
}
h1 .h1-content{
    background: #8CBFD2;
    padding-left: 10px;
}
/*for title content*/
pre.center{
    width: 60%;
    border: #F2773F solid;
}
.areaOne, .areaTwo, .areaThr, .areaFou, .areaFiv, .areaSix, .areaSev, .areaEig, .areaNin, .areaTen{
    display: inline-block;
    width: 10%;
    height: 100px;
    border: 4px solid #fff;
    margin: 0 auto;
    background-color:#50B948;
    text-align: center;
    vertical-align: middle;
    line-height: 99px;
    color: #fff;
    font-size: 30px;
}
.areaOne{background-color:#E6D273;}
.areaTwo{background-color:#015496;}
.areaThr{background-color:#F2773F;}
.areaFou{background-color:#8CBFD2;}
.areaFiv{background-color:#513E75;}
.areaSix{background-color:#7E7F81;}
.areaSev{background-color:#910615;}
.areaEig{background-color:#50B948;}
.areaNin{background-color:#FFFFFF;}
.areaTen{background-color:#000000;}

